# MacOS system file
.DS_Store

# Crypto
deployments/Crypto

# Fabric CA Client
deployments/fabric-ca-client-home

# Fabric TLS CA server
deployments/fabric-tlsca-server

# Fabric CA Server
deployments/fabric-ca-server-home